.navbar{
    position: fixed;
    top: 0;
    width: 100%;
    background-color: black;
    height:32px;
    display: flex;
    padding: 10px;
    justify-content: space-between;
}

.logo{
    position: fixed;
    margin-top: 4px;
    left: 20px;
    width: 85px;
}

.input{
    position: fixed;
    right: 160px;
    height: 25px;
    background-color: #ced4da;
    border-radius: 25px;
    padding-left: 12px;
    font-weight: 500;
    font-size: 14px;
    
}

.btn{
    position: fixed;
    right: 118px;
    height: 29px;
    width: 35px;
    background-color: #284b63;
    color: white;
    border-radius: 25px;
    cursor: pointer;
}

.avatar{
    position: fixed;
    right: 20px;
    width: 30px;
}

@media (max-width: 800px) {
    .input, .btn {
      display: none; 
    }
  }