.parentDiv{
    margin-top: 3000px;
}

.posters{
    margin-top: 30px;
    display: flex;
    padding: 20px;
}

.searchImg{

    max-height: 245px;
    cursor: pointer;
    margin-right: 8px;
    transition: 100ms;
    margin-top: 18px;
}

.searchImg:hover{
    transform: scale(1.08);
}

p{
    color: white;
    font-size: 18px;
}